[Desktop Entry]
Exec=send-to-kodi.sh -g -r HOSTNAME:PORT -u USERNAME:PASSWORD -d /tmp
Name=Send to Kodi
Type=Application
Comment=Send compatible media to Kodi
Icon=multimedia-video-player
Categories=Media;
